---
import BlogCard from "../../components/blog_card.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<section class="mb-24">
  {
    posts.map((post) => (
      <BlogCard
        title={post.data.title}
        description={post.data.description}
        image={post.data.image}
        slug={post.slug}
        category={post.data.category}
        subcategory={post.data.subcategory}
      />
    ))
  }
</section>
